
20191023_tm_speech/rstudio-server-conda/
20191030_tm_speech_further/rstudio-server-conda/
20191031_scrape_and_text/prensa.presidencia.cl/
20191031_scrape_and_text/20191031_1337-mirror_prensa_download.log
20191031_scrape_and_text/rstudio-server-conda/